{{ define "main"}}
<main id="main">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css"
    integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA=" crossorigin="anonymous" />

  <!-- About -->
  <div class="container padding" id="about-me">
    <div class="row padding">
      <div class="col-lg-8 col-sm-6">
        <h2>About Me</h2>
        <p>Hi, I am Andy McDonald and welcome to my website.</p>
        <p>I am a petrophysicist / data scientist within the oil in gas industry and based in Aberdeen, Scotland. I have
          over 14 years experience petrophysics, log analysis and geology. Over the years I have developed my skills in
          Python and continuing to learn everyday.</p>
        <p>When I am not doing my day job I can be found out with the camera photographing nature, catching up on the
          latest SpaceX launches or learning about productivity and Notion.</p>
        <p>Feel free to check out my projects below and explore the website. If you want to get in touch you can send a
          message via the contact form at the bottom of the page.</p>
      </div>
      <div class="col-lg-4 col-sm-6">
        <img src="{{ .Site.BaseURL }}{{ .Site.Params.avatar }}" alt="...">
      </div>
    </div>
  </div>

  <!-- Key Stats -->
  <section class="counters">
    <div class="container-fluid padding" id="stats">
      <div id="head" style="background-image:url('{{ .Site.BaseURL }}{{ .Site.Params.banner }}'), linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));">

        <div class="row text-center padding">
          <div class="col-md-3"><i class="fas fa-book"></i>
            <div class="counter" data-target="8">0</div>
            <p>Publications</p>
          </div>

          <div class="col-md-3"><i class="fab fa-medium-m"></i>
            <div class="counter" data-target="11">0</div>
            <p>Medium Articles</p>
          </div>
          <div class="col-md-3"><i class="fas fa-coffee"></i>
            <div class="counter" data-counterup-time="1500" data-counterup-delay="30" data-counterup-beginat="0">15
            </div>
            <p>Years of Experience</p>
          </div>
          <div class="col-md-3"><i class="fas fa-coffee"></i>
            <div class="counter" data-target="7000">0</div>
            <p class="counter">5000</p>
            <p>Cups of Coffee</p>

          </div>
        </div>
      </div>
  </section>

  <section id="projects">
    <div class="container-fluid padding">
      <div class="row text-center padding">
        <div class="col-lg-12 section-title">
          <h1>My Projects</h1>
        </div>


        <div class="container">
          <div class="row">
            <div class="col-md-4 mb-4">
              <div class="card">
                <div class="card-img card-img--lasexplorer">
                <!-- <img src="{{ .Site.BaseURL }}{{ .Site.Params.project1_img }}" alt="..."> -->
              </div>
                <div class="card-body">
                  <div class="project-title">LAS Explorer</div>
                  <p class='card-text'>LAS Data Explorer is a tool designed using Python and Streamlit to help you 
                    visualise, explore and gain an understanding of the contents of a LAS file.</p>
                  
                    <a class="viewmore" href="/projects/las_summariser/">View Project</a>
                </div>
              </div>
            </div>
            <div class="col-md-4 mb-4">
              <div class="card">
                <div class="card-img card-img--pythonpetro"></div>
                <!-- <img class="card-img" src="{{ .Site.BaseURL }}{{ .Site.Params.project2_img }}" alt="..."> -->
                <div class="project-title">Python and Petrophysics</div>
                <div class="card-body">
                  <p class='card-text'>Python and Petrophysics is a series of Jupyter Notebooks covering the loading and
                    visualisation of well log data, petrophysical interpretation and more.
                  </p>
                  <a class="viewmore" href="/projects/las_summariser/">View Project</a>
                </div>
              </div>
            </div>
            <div class="col-md-4 mb-4">
              <div class="card">
                <div class="card-img card-img--spwla2021"></div>
                <!-- <img class="card-img" src="{{ .Site.BaseURL }}{{ .Site.Params.project3_img }}" alt="..."> -->
                <div class="project-title">SPWLA 2021 ML Workshop</div>
                <div class="card-body">
                  <p class='card-text'>Workshop for the SPWLA 2021 conference on petrophysical Machine Learning 
                    . The workshop covers data QC, supervised and unsupervised learning.
                  </p>
                  
                  <a class="viewmore" href="/projects/las_summariser/">View Project</a>
                </div>
              </div>
            </div>
          </div>
        </div>
  </section>


  <section id="blog-posts">
    <div class="container-fluid padding">
      <div class="row text-center padding">
        <div class="col-lg-12 section-title">
          <h1>Recent Blog Posts</h1>
        </div>


        <div class="container">
          <div class="row">
            <div class="col-lg-4 mb-4">
              <div class="card">
                <img class="card-img" src="{{ .Site.BaseURL }}{{ .Site.Params.project1_img }}" alt="...">
                
                <div class="card-body">
                  <div class="project-title"><h5>LAS Explorer</h5></div>
                  <p class='card-text'>LAS Data Explorer is a tool designed using Python and Streamlit to help you 
                    view and gain an understanding of the contents of a LAS file.</p>
                  
                  <a class="btn-primary" href="/projects/las_summariser/">View Project</a>
                </div>
              </div>
            </div>
            <div class="col-lg-4 mb-4">
              <div class="card">
                <img class="card-img" src="{{ .Site.BaseURL }}{{ .Site.Params.project2_img }}" alt="...">
                <div class="project-title"><h5>Python and Petrophysics</h5></div>
                <div class="card-body">
                  <p class='card-text'>Python and Petrophysics is a series of Jupyter Notebooks covering the loading and
                    visualisation of well log data, petrophysical interpretation and more.
                  </p>
                  <a class="btn-primary" href="/projects/las_summariser/">View Project</a>
                </div>
              </div>
            </div>
            <div class="col-lg-4 mb-4">
              <div class="card">
                <img class="card-img" src="{{ .Site.BaseURL }}{{ .Site.Params.project3_img }}" alt="...">
                <div class="project-title"><h5>SPWLA 2021 ML Workshop</h5></div>
                <div class="card-body">
                  <p class='card-text'>Workshop for the SPWLA 2021 conference on Machine Learning for petrophysical
                    data. Includes data QC, outlier detection, supervised and unsupervised learning.
                  </p>
                  
                  <a class="btn-primary" href="/projects/las_summariser/">View Project</a>
                </div>
              </div>
            </div>
          </div>
        </div>
  </section>

  
</main>

{{ end }}