body {
    font-size: 17px;
}
body {
    /* font-size: 15px; */
    font-size: 1.05rem;
    font-family: "Open sans", Helvetica, Arial, sans-serif;
    color: #666666;
    padding: 0;
}

.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;
}

a {
    color: #14af4a;
}

.section-heading {
    padding-bottom: 10px;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.9rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 20px;
}

.section-underline {
    width: 3rem;
    height: 0.2rem;
    background-color: #14af4a;
    margin: 0 auto 2rem;

}

.btn-primary {
    background-color: #14af4a;
    padding: 0.3em;
    border-radius: 5px;
    font-size: 0.8rem;
    padding: 10px;
}

.btn-primary:hover {
    background-color: #147900;
    text-decoration: none;
}

.bg-grey{
    background-color: #f3f3f3;
}

:after, :before {
    box-sizing: border-box;
    }

/*********************************************************************

HEADER SECTION

*********************************************************************/

#head {
    /* position: absolute; */
    width: 100%;
    max-width: 100%;
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
    background-blend-mode: multiply;
    padding: 30px 0 35px 0;
}

.head-shot{
    padding-top: 50px;
    padding-bottom: 50px;
}

.social-head {
    padding-top: 20px;
    font-size: 0.8em;
    color: #fff;
}

.social-head a{
    color: #aaa;
}

.social-head a:hover{
    color: #fff;
}


/*********************************************************************

INDEX SECTIONS

*********************************************************************/

#about-me img {
    height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/* Projects & Blog Posts Section */

#projects {
    padding-top: 50px;
    /* padding-bottom: 50px; */
}

#blog-posts {
    padding-top: 50px;
}

.card-img:before{
    background-color: #fff;
}
.card-img {
    height: 300px;
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    -webkit-transition: .8s all;
    position: relative;
    background-size: cover;
    width: 100%;
    background-repeat: no-repeat;
    border-bottom: #d3d3d3 1px solid;
}

.card img {
    width: auto;
    height: 300px;
    position: relative;
    overflow: hidden;
}

.card-img:hover {
    -webkit-filter: grayscale(80%);
}

.card {
    /* margin-top: 30px; */
    padding-bottom: 10px;
    border: 0.1px solid #d3d3d3;
    /* border-radius: 20px; */
    background-color: #fbfbfb;
    /* margin-left: 10px;
    margin-right: 10px; */
    box-shadow: 0 20px 40px -14px rgba(0,0,0,0.25);
    padding-bottom: 10px;
    margin-bottom: 40px;
    margin-left: 10px;
    margin-right: 10px;
} 

.card-body {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 1rem;
}

.project-title {
    text-align: left;
    text-transform: uppercase;
    font-weight: 600;
    /* letter-spacing: 2px; */
    font-size: 1.1rem;
    padding-top: 1rem;
}

.card-text {
    text-align: justify;
    color: #999;
    font-size: 1rem;
    padding-top: 1rem;
}

.index-blog-post-details{
    border-top: #d3d3d3 1px solid;
    font-size: 0.9rem;
}


.card-img--lasexplorer {
    background-image: url("/images/project_las_explorer.png");
}

.card-img--pythonpetro {
    background-image: url("/images/project_python_petrophysics.png");
}

.card-img--spwla2021 {
    background-image: url("/images/project_spwla_workshop.png");
}

.card .viewmore {
    border: 1px #999 solid;
    padding-top: 5px;
    padding-bottom: 5px;
    display: block;
    margin-left: 10px;
    margin-right: 10px;
}

.card .viewmore:hover {
    text-decoration: none;
    background-color: #14af4a;
    color: white;
}


.index-blog-post-icons {
    padding-top: 20px;
    padding-bottom: 5px;
}

.blog-cat-tag {
    top: 10%;
    position: absolute;
    background-color:#14af4a;
    color: white;
    padding: 0.5rem;
    display: block;
}

.blog-cat-tag::before {
    position: absolute;
    top: 10%;
    display: block;
    color: white;
    padding: 0.5rem;
    background-color: #14af4a;
}

/* Timers / Counters Section */
#fixed {
  /* background-color: #f4f4f4; */
  background-position: top;
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
  background-blend-mode: multiply;
  padding: 30px 0 35px 0;
  width: 100%;
  max-width: 100%;
}

.stats-section {
    padding-top: 50px;
}

.stat-title {
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    /* letter-spacing: 2px; */
    font-size: 1.3rem;
    padding-top: 10px;
    padding-left: 10px;
}

.count-title { 
    font-size: 40px; 
    font-weight: normal; 
     margin-top: 10px; margin-bottom: 0;
     text-align: center; 
     color:white;
     font-size: 3.5rem;
}

/* Contact */
#contact {
    padding-top: 50px;
    padding-bottom: 50px;
}

textarea {
    width: 95%;
}

/*********************************************************************

BLOG SECTIONS

*********************************************************************/

.publication-paper {
    padding-top: 10px;
}
.blog-roll {
    padding-right: 40px;
    padding-left: 10px;
}

.blog-post {
    margin-top: 50px;
    padding-bottom: 50px;
    border-bottom: 1px solid #d3d3d3;
}

.blog-post h3 a{
    color: #666666;
}

.fa-calendar-alt, .fa-clock {
    margin-right: 10px;
    font-size: 1.2em;
    text-align: center;
    color: #14af4a;
}

.fa-clock, .fa-tags {
    margin-right: 5px;
    margin-left: 20px;
    font-size: 1.2em;
    text-align: center;
    color: #14af4a;
}

.blog-image {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.post-info {
    padding-bottom: 10px;
}

.post-info ul {
    display: inline;
    /* float: left; */
    padding-left: 10px;
    list-style-type: none;
}

.post-info ul li {
    display: inline-block;
}

.post-tags a{
    color: #666;
}


/* Blog Sidebar */

.widget{
    margin-bottom: 30px;
}

.widget h4 {
    padding-bottom: 10px;
}

.widget input[type=text] {
    float: left;
    padding: 5px;
    border: 1px solid grey;
    width: 80%;
}

.widget form.search button {
    color: grey;
    width:10%;
    /* border-left: none; */
    float: left;
    /* border: 1px sold grey; */
    cursor: pointer;
    padding: 4px;
    background-color:#14af4a;
    color: white;
}

/* Tags */
.tagbutton {
    border: 1px solid grey;
    border-radius: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 5px;
    color: #666;
}

.tagbutton:hover {
    border: 1px solid #14af4a;
    background-color: #14af4a;
    border-radius: 5px;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: #fff;
    text-decoration: none;
}

.widgetcategory {
    border-bottom: 1px solid #d3d3d3;
    /* padding-bottom: 5px; */
}

.widgetcategory ul {
    list-style: none;
    margin: 0;
    padding: 0;
    padding-bottom: 10px;
    padding-top: 10px;

}

.widgetcategory .left-align {
    float: left;
}

/* .widgetcategory .right-align {
    float: right;
    text-align: right;
} */

/*********************************************************************

BLOG PAGE

*********************************************************************/

.post {
    max-width: 100%;
}

.post .title{
    font-weight: 800;
}

.entry-header .entry-meta {
    text-align: left;
    font-family: Roboto, sans-serif;
    /* font-size: 18px; */
    font-size: 1.225rem;
    font-weight:400;
    color: #a5a5a5;
    margin: 0 0 15px 0;
    font-style: normal;
  }

.title-image {
    padding-bottom: 2em;
}